{% extends 'base.html' %}

{% block title %}
<title>學生資料管理系統-刪除資料一(POST)</title>
<style>
    h1, h3{
        text-align: center;
    }
    table{
        margin-left: auto;
        margin-right: auto;  
    }
    table, th, td{
        border:1px solid black;
    }
    .submit{
        text-align: center;
    }

</style>

<script>
    function doublecheck(){
        return confirm("\n您確定要刪除這筆資料嗎?\n刪除後無法恢復\n")
    }
</script>

{% endblock title %}

{% block content %}
<h1>學生資料管理系統-刪除資料一(POST)</h1>
<a href="/index/"><h3>回首頁</h3></a>
<form action="/delete/{{dict_data.id}}/" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>姓名</th><td>{{ dict_data.cName }}</td>
        </tr>
        <tr>
            <th>性別</th>
            <td>
                {% if dict_data.cSex == "M"%} 男 {% endif %}
                {% if dict_data.cSex == "F"%} 女 {% endif %}
            </td>
        </tr>
        <tr>
            <th>生日</th><td>{{ dict_data.cBirthday|date:'Y-m-d' }}</td>
        </tr>
        <tr>
            <th>信箱</th><td>{{ dict_data.cEmail }}</td>
        </tr>
        <tr>
            <th>電話</th><td>{{ dict_data.cPhone }}</td>
        </tr>
        <tr>
            <th>地址</th><td>{{ dict_data.cAddr }}</td>
        </tr>
        <tr>
            <td colspan="2" class="submit">
                <!-- <input type="submit" name="button" id="button" value="刪除"> -->
                <button onclick="return doublecheck();">刪除</button>
            </td>
        </tr>
    </table>
</form>



{% endblock content %}
