<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>test</h1> -->
    <form action="/serach_list/" method="GET">
        <label for="cName">姓&nbsp;&nbsp;&nbsp;名:</label>
        <input type="text" name="cName" id="cName">
        <p><button type="submit">搜尋</button></p>

    </form>
</body>
</html>